# Created by .ignore support plugin (hsz.mobi)

# ignore all compiled files
__pycache__

# ignore all files in .idea directory
.idea

# ignore all .xml files
*.xml

# ignore our binary file
*.mpb

venv

# ignore compiled ui files
ui_files/resources_rc.py
ui_files/ui_2d_view.py
ui_files/ui_create_func_dialog.py
ui_files/ui_drag_at.py
ui_files/ui_export_expression_dialog.py
ui_files/ui_window.py
